<%- include('./includes/header.ejs') %> 
<main class=" mt-10">
    <div class=" flex justify-center">
        <div class="w-4/12 bg-slate-800 p-6 rounded-lg">
            <a href="/LoginFacebook">
                <div class="mb-4 text-center bg-blue-900 text-white px-4 py-3 rounded font-medium w-full">
                    <i class="fa-brands fa-facebook m-1"></i>Connect With <span class=" text-slate-100 font-black">Facebook</span>
                </div>
            </a>
            <form action="/register" method="post" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" name="name" id="name" placeholder="name"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg " value="">
                        <div class="text-red-500 mt-2 text-sm">
                        </div>
                </div>
                <div class="mb-4">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg " value="">
                        <div class="text-red-500 mt-2 text-sm">
                        </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg " value="">
                        <div class="text-red-500 mt-2 text-sm">
                        </div>
                </div>
                <div class="mb-4">
                    <label for="password2" class="sr-only">Confirm Password</label>
                    <input type="password" name="password2" id="password2" placeholder="Confirm Password"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg " value=""><i class="fa-brands fa-eyes m-1"></i>
                        <div class="text-red-500 mt-2 text-sm">
                        </div>
                </div>
                <div class="mb-4">
                    <label for="image" class="sr-only">Profile Image</label>
                    <input type="file" name="pic" id="pic" placeholder="pic"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg " value=""><i class="fa-brands fa-eyes m-1"></i>
                        <div class="text-red-500 mt-2 text-sm">
                        </div>
                </div>
                <div class="flex items-center justify-between m-1">
                    <div class="flex items-center">
                        <input id="remember-me" name="remember-me" type="checkbox"
                            class="h-4 w-4 text-blue-900 focus:ring-blue-900 border-gray-300 rounded">
                        <label for="remember-me" class="ml-2 block text-sm text-gray-100"> Remember me </label>
                    </div>
    
                    <div class="text-sm">
                        <a href="#" class="font-medium text-blue-900 hover:text-blue-900"> Forgot your password? </a>
                    </div>
                </div>
    
                <div>
                <div>
                    <button type="submit" class=" bg-blue-900 text-white px-4 py-3 rounded font-medium w-full">Register</button>
                </div>
                <div class="text-sm text-center">
                    <a href="signIn" class="font-medium text-white hover:text-white"> Have a account </a>
                </div>
            </form>
        </div>    
    </div>
</main>
<%- include('./includes/footer.ejs') %> 