<%- include('../includes/header.ejs') %> 

<section id="nav" class="">
    <nav class=" p-6 bg-slate-800 flex justify-between mb-3">
        <ul class=" flex items-center">
            <li>
                <a href="/" class="p-3 font-black text-white">D<span class="text-red-200 font-black">A</span>RK</a>
            </li>
            
        </ul>
        <ul class=" flex items-center">
                <li>
                    <a href="signIn" class="p-3 text-white">Login</a>
                </li>
                <li>
                    <a href="signUp" class="p-3 text-white">Register</a>
                </li>
        </ul>
    </nav>
</section>
<div class="container mx-auto px-4 flex flex-wrap lg:flex-nowrap">
    <!-- left sidebar -->
    <div class="w-3/12 hidden xl:block">
        <!-- categories -->
        <div class="w-full bg-slate-800 shadow-sm rounded-lg p-4 ">
            <h3 class="text-xl font-semibold text-white mb-3 font-roboto">Categories</h3>
            <a href="#" class="flex group">
                <div class="flex-shrink-0">
                    <img src="<%= user.pic %> " class="h-14 w-full align-middle justify-center rounded object-cover">
                </div>
                <div class="flex-grow pl-3">
                    <h5
                        class="text-md leading-5 block font-roboto font-semibold text-center mr-16 mt-3 text-white transition group-hover:text-blue-900">
                        <%= user.name %> 
                    </h5>
                </div>
            </a>
        </div>

        <!-- random posts -->
        <div class="w-full mt-8 bg-slate-800 shadow-sm rounded-lg p-4 ">
            <h3 class="text-xl font-semibold text-white mb-3 font-roboto">Random Posts</h3>
            <div class="space-y-4">
                <a href="#" class="flex group">
                    <div class="flex-shrink-0">
                        <img src="" class="h-14 w-20 rounded object-cover">
                    </div>
                    <div class="flex-grow pl-3">
                        <h5
                            class="text-md leading-5 block font-roboto font-semibold  transition group-hover:text-blue-500">
                            Team Bitbose geared up to attend Blockchain
                        </h5>
                        <div class="flex text-white text-sm items-center">
                            <span class="mr-1 text-xs"><i class="far fa-clock"></i></span>
                            June 11, 2021
                        </div>
                    </div>
                </a>
                <a href="#" class="flex group">
                    <div class="flex-shrink-0">
                        <img src="" class="h-14 w-20 rounded object-cover">
                    </div>
                    <div class="flex-grow pl-3">
                        <h5
                            class="text-md leading-5 block font-roboto font-semibold  transition group-hover:text-blue-500">
                            After a Caribbean Hurricane, the Battle
                        </h5>
                        <div class="flex text-white text-sm items-center">
                            <span class="mr-1 text-xs"><i class="far fa-clock"></i></span>
                            March 27, 2021
                        </div>
                    </div>
                </a>
                <a href="#" class="flex group">
                    <div class="flex-shrink-0">
                        <img src="" class="h-14 w-20 rounded object-cover">
                    </div>
                    <div class="flex-grow pl-3">
                        <h5
                            class="text-md leading-5 block font-roboto font-semibold  transition group-hover:text-blue-500">
                            California sheriff’s deputy shot during ‘ambush’
                        </h5>
                        <div class="flex text-white text-sm items-center">
                            <span class="mr-1 text-xs"><i class="far fa-clock"></i></span>
                            Aprile 17, 2021
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<%- include('../includes/footer.ejs') %> 